---
layout: default
---
<article itemscope itemtype="">

  <!-- <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.hydrogen-blog.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header> -->
<script>
  document.getElementsByTagName("img").className="bbb";
  </script>
  
  <div itemprop="articleBody">
    {{ content }}
  </div>

    {% include tags_list.html tags=page.tags tag_count=page.tags.size %}

<hr/>
{% comment %}  
<!-- LiveRe -->
<div id="lv-container" data-id="city" data-uid="MTAyMC8zMjY0Mi85MjAz">
  <script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
  </script>
<noscript> 为正常使用评论功能请激活JavaScript</noscript>
</div>
  <div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
<script src="https://jjeejj.github.io/js/gitment.js"></script>
<script>
var gitment = new Gitment({
    id: '{{ page.title }}',
    owner: 'hahahh0',
    repo: 'hahahh0.github.io',
    oauth: {
        client_id: '47cc9cf1be766d07a603',
        client_secret: 'f8fa705220d18e094fdf92b4e16ce43042d7bf7c',
    },
});
gitment.render('gitmentContainer');
</script>
<!-- end LiveRe -->
{% endcomment %}
  
  {% if site.show_comment %}
  123333
  {% endif %}
  
  {% if site.data.social.valine_comment.enable  == true %}
  <script src="/comment/av-min.js"></script>
  <script src="/comment/Valine.min.js"></script>
  <div id="comments"></div>
  {% include comments.html %}
  {% endif %}
  {% include scripts.html %}


  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
